#### 1. Creating Variables:

In [1]:
country_name = "Nigeria"                #This is a string
population = 213000000                  #This is an integer
gdp_per_capita = 2065.5                 #this is a float
is_in_africa = True                          #This is a boolean

#### 2. Creating a List:

In [2]:
major_cities = ["Lagos", "Abuja", "Kano"]               #This is a List

print(major_cities)                                                 #Printing Major cities

['Lagos', 'Abuja', 'Kano']

In [3]:
major_cities.append("Ibadan")                  #Adding a string to the list

print(major_cities)
print("Updated City:", major_cities[3])
print(major_cities)

['Lagos', 'Abuja', 'Kano', 'Ibadan']
Updated City: Ibadan
['Lagos', 'Abuja', 'Kano', 'Ibadan']

#### 3. Creating a Dictionary:

In [4]:
#Populating the Dictionary

country_profile = (
    country_name,
    population,
    gdp_per_capita,
    is_in_africa,
    major_cities
)

In [5]:
#Printing the data in the dictionary
print ("The name of my country is:", country_profile[0])
print ("Her current population is:", country_profile[1])
print ("Her current gdp per capita is:", country_profile[2])
print ("My country is in Africa:", country_profile[3])
print ("Her major cities are:", country_profile[4])

The name of my country is: Nigeria
Her current population is: 213000000
Her current gdp per capita is: 2065.5
My country is in Africa: True
Her major cities are: ['Lagos', 'Abuja', 'Kano', 'Ibadan']

In [6]:
country_profile = {
    "country_name": country_name,
    "population": population,
    "gdp_per_capita": gdp_per_capita,
    "is_in_africa": is_in_africa,
    "major_cities": major_cities
}

In [7]:
print (country_profile)

{'country_name': 'Nigeria', 'population': 213000000, 'gdp_per_capita': 2065.5, 'is_in_africa': True, 'major_cities': ['Lagos', 'Abuja', 'Kano', 'Ibadan']}

In [8]:
#Adding a new key-value pair to my dictionary
country_profile["official_Language"] = ["English"]

print ("Updated dictionary with it's Language:", country_profile)

Updated dictionary with it's Language: {'country_name': 'Nigeria', 'population': 213000000, 'gdp_per_capita': 2065.5, 'is_in_africa': True, 'major_cities': ['Lagos', 'Abuja', 'Kano', 'Ibadan'], 'official_Language': ['English']}

In [9]:
print(country_profile["population"])

213000000



### Part 2: Introduction to pandas & Basic Analysis

#### 1. Creating a DataFrame:

In [10]:
import pandas as pd                      #Importing pandas as a library

###### 1b. Creating a Python dictionary:

In [11]:
#Setting up the data for the dictionary

employee_data = {
    "EmployeeID": ["E01", "E02", "E03", "E04", "E05"],
    "Department": ["HR", "Engineering", "Sales", "Engineering", "Sales"],
    "Salary": [70000, 95000, 82000, 110000, 78000],
    "Years_at_Company": [5, 8, 4, 10, 3]
}

In [12]:
#Creating the dataframe from the set up dictionary

df = pd.DataFrame(employee_data)

In [13]:
#Displaying the dataframe in the notebook

df

  EmployeeID   Department  Salary  Years_at_Company
0        E01           HR   70000                 5
1        E02  Engineering   95000                 8
2        E03        Sales   82000                 4
3        E04  Engineering  110000                10
4        E05        Sales   78000                 3

##### 2. Inspecting the DataFrame:

In [14]:
#To confirm and check for data frame size

df.shape

(5, 4)

In [15]:
#To check the data frame columns

df.columns

Index(['EmployeeID', 'Department', 'Salary', 'Years_at_Company'], dtype='object')

In [16]:
#To check the data types of the dataframe columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        5 non-null      object
 1   Department        5 non-null      object
 2   Salary            5 non-null      int64
 3   Years_at_Company  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

#### 3. Performing Statistical Analysis:

In [17]:
#Implementing the .describe() function for a summary

print("STATISCTICAL SUMMARY")
df.describe()

STATISCTICAL SUMMARY

              Salary  Years_at_Company
count       5.000000          5.000000
mean    87000.000000          6.000000
std     15716.233646          2.915476
min     70000.000000          3.000000
25%     78000.000000          4.000000
50%     82000.000000          5.000000
75%     95000.000000          8.000000
max    110000.000000         10.000000

In [18]:
#Now Calculating basic mean and median statistics using their respective functions

mean_salary = df["Salary"].mean()

In [19]:
median_year_at_company = df["Years_at_Company"].median()

In [20]:
#Printing out the mean of salary and median of years of work

print("The mean Salary is:\n", mean_salary)
print("\nThe median number of years at Company is:\n", median_year_at_company)

The mean Salary is:
 87000.0

The median number of years at Company is:
 5.0

## Part 3. Bridging with Excel

In [21]:
excelFile = "company_employee_data.xlsx"  #Name of the excel file to be created

In [22]:
index = False
df.to_excel(excelFile, index=False)  #Saving the dataframe to an excel file

In [23]:
# Load data from the new Excel file
df_from_excel = pd.read_excel(excelFile)
print("DATA FROM EXCEL FILE")

# Displaythe new DataFrame
df_from_excel

DATA FROM EXCEL FILE

  EmployeeID   Department  Salary  Years_at_Company
0        E01           HR   70000                 5
1        E02  Engineering   95000                 8
2        E03        Sales   82000                 4
3        E04  Engineering  110000                10
4        E05        Sales   78000                 3

In [24]:
print("Employee Data saved to and loaded from the company_employee_data.xlsx successfully.")

Employee Data saved to and loaded from the company_employee_data.xlsx successfully.

### The END!